.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.custom-box {
    text-align: center;
    background-color: #f4f6f9;
    border: 1px solid #d8dde6;
    padding-left: 5px;
    padding-right: 5px;
}
.drag {
    border-style: solid dotted;
    opacity: 0.20;
}
.over{
    border-style: solid dotted;
    border-color: green;
}
.properties-box {
    width: 200px;
    border: 1px solid #d8dde6;
}
.wrap{
    padding-bottom: 100px;
}
.cont{
    display: flex;
}
.info_left{
    display: flex;
    width: 200px;
    background-color: #ffffff;
}
.info_left h1{
    font-size: 20px;
    margin-left: 10px;
    align-self: center;
}
.card{
    border-radius: 5px;
    border: 1px solid #d8dde6;
    box-shadow: 1px 1px 3px 1px rgb(175, 175, 175);
    display: flex;
    height: 70px;
    background-color: #ffffff;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 258px;
}
.custom-border-radius-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.custom-border-radius-right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}